*{
    margin: 0;
    padding: 0;
}


table,tr,th,td{
     
    border: 1px solid black;
    border-collapse: collapse;
}
caption{
    text-decoration: underline;
    font-weight: bolder;
    margin-bottom: 20px;
}

#table{
    margin-left: 300px;
    margin-top: 100px;
    width: 50%;
    text-align: center;
   
}

.row:nth-child(odd){
    background-color: aquamarine;
}
.row:nth-child(even){
    background-color: rgb(160, 181, 174);
}

thead{
    background-color: rgb(19, 100, 100);
}
