*{
    margin: 0;
    padding: 0;
}


table,tr,th,td{
     
    border: 1px solid black;
    border-collapse: collapse;
}
caption{
    font-weight: bolder;
    margin-bottom: 20px;
    text-decoration: underline;
}
#table{
    margin-left: 300px;
    margin-top: 100px;
    width: 50%;
    text-align: center;
}
th{
    background-color: rgb(175, 243, 243);
}

tbody tr:nth-child(4n-3),tbody tr:nth-child(4n-2){
    background-color: #c79f9b;
}

tbody tr:nth-child(4n-1),tbody tr:nth-child(4n) {
    background-color: #a1cfa1;
}
