
    * {
  margin: 0;
  padding: 0;
  background-color: white;
}

#navbar{
    text-align: center;
    background-color:black;
    height: 50px;
}

a{
    font-size:30px ;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(14, 4, 4);
    color: white;
    margin-right: 30px ;
    
}
a:hover{
    color: black;
    background-color: white;
    border-radius: 15px;
    
}
h3
{
    display: inline;
    background-color:#e7eaf6 ;
    padding-left: 30px;
}
.main {
    display: flex;
    padding: 15px;
    gap: 20px;
    background-color:white;
    height: 500px;
}
 
.one{
    
    background-color: #e7eaf6;
    width: 33%;
    border: 2px solid black;
    border-radius: 20px;
}
.one:hover{
    background: cyan;
}
.two{
    background-color: #e7eaf6;
     width: 33%;
     border: 2px solid black;
     border-radius: 20px;
}
.two:hover{
    background: cyan;
}
.three{
    background-color: #e7eaf6;
     width: 33%;
     border: 2px solid black;
     border-radius: 20px;
}
.three:hover{
    background: cyan;
}
.main-2{
    background-color: #e7eaf6;
    height: 100px;
    border-radius: 20px;
    border:2px solid black;
    padding-left:50px;
}
.main-2:hover{
    background-color:cyan;
    

}

 footer {
    background-color: #b5bbd3;
  background-color:;
  color: rgb(11, 8, 8);
  font-weight: bolder;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}
p{
    background-color: #b5bbd3;
}


