*{
    margin: 0;
    padding: 0;
}


table,tr,th,td{
     
    border: 1px solid black;
    border-collapse: collapse;
}
caption{
    font-weight: bolder;
    margin-bottom: 20px;
}

#table{
    margin-left: 300px;
    margin-top: 100px;
    width: 50%;
    text-align: center;
}